@charset 'UTF-8';
@font-face{
	font-family: Vectorb;
	src: url('../data/fonts/Vectorb.ttf');
}

body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	text-align:center;
	background-color:white;
}

#game{
	outline:0;
	position:absolute;
	background-color:black;
	top: 0;
    left: 50%;
    margin-left: -300px;
	width:600px;
	height:480px;
	z-index: 0;
}

#background{
	outline:0;
	position:absolute;
	top: 0;
    left: 50%;
    margin-left: -300px;
	width:600px;
	height:480px;
	z-index: 1;
}